<?xml version='1.0' encoding='utf-8'?>
<widget id="com.benovertech.pos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>BENOVERTECH POS</name>
  <description>Professional Point of Sale System</description>
  
  <!-- Icon for Android -->
  <icon src="icons/icon-192.png" width="192" height="192" />
  <icon src="icons/icon-512.png" width="512" height="512" />
  
  <!-- Splash Screen -->
  <splash src="icons/splash-screen.png" width="540" height="720" />
  
  <!-- Preferences -->
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="true" />
  <preference name="prerendered-icon" value="true" />
  <preference name="stay-in-webview" value="true" />
  <preference name="ios-statusbarstyle" value="black" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="disable-cursor" value="false" />
  
  <!-- Allow all domains -->
  <access origin="*" />
</widget>
